* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100vh;
  font-family: 'Inter', sans-serif;
  background: radial-gradient(circle at 25% -30%, rgba(26, 91, 188, 1), transparent 33%), #000;
}

h1 {
  font-weight: 900 !important;
}

.app {
  text-align: center;
  padding: 20px;
  width: 100%;
  margin: 0 auto;
  max-width: 800px;
}

/*================*/
/*LOADED PORTFOLIO*/
/*================*/

.loadedPortfolio {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.loadedPortfolioHeader {
  align-items: center;
  margin-bottom: 20px;
  font-weight: 900;
}

/*================*/
/*REFRESH SETTINGS*/
/*================*/

.refreshPortfolio {
  display: flex;
  align-items: center;
}

.refreshPortfolio>p {
  color: #959595;
  margin-bottom: 20px;
}

.refreshPortfolio>p>strong {
  color: #1A5BBC;
}

.refreshPortfolioButtons {
  margin-bottom: 20px;
}

.refreshPortfolioButtons>* {
  margin-right: 10px;
  border: none;
}

.refreshPortfolioButtons>.refreshPortfolioButton {
  padding: 5px 15px;
  border-radius: 12px;
  background-color: #1A5BBC;
  color: white;
  cursor: pointer;
}

/*=================*/
/*PORTFOLIO INFO BX*/
/*=================*/

.portfolio-infoboxes {
  display: flex;
}

.portfolio-infobox {
  background-color: #161616;
  color: white;
  padding: 15px 30px;
  border: 1px #373737 solid;
  border-radius: 12px;
  text-align: center;
  font-size: 16px;
  margin: 10px;
}

/*=================*/
/*      TABLE      */
/*=================*/

.table_component {
  overflow: hidden;
  border-radius: 12px;
  width: 40vw;
}

.table_component table {
  height: 40vh;
  width: 40vw;
  table-layout: fixed;
  border-spacing: 0;
  border: 2px solid #373737;
  border-collapse: collapse;
  text-align: center;
}

.table_component caption {
  caption-side: top;
  text-align: left;
  margin-bottom: 10px;
}

.table_component th {
  border-top: 1px solid #373737;
  background-color: #212529;
  color: #AAAA94;
}

.table_component td {
  border-top: 1px solid #373737;
  background-color: #1B1C20;
  color: #AAAA94;
  width: 100%;
}

.pagination {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #373737;
  background-color: #212529;
  color: #AAAA94;
  cursor: pointer;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/*==================*/
/*      UPLOAD      */
/*==================*/

.title {
  font-size: 36px;
  font-weight: 800;
  margin: 0;
  margin-bottom: 15px;
}

.subtitle {
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 40px;
  color: #959595;
}

.upload-box {
  background-color: #161616;
  border-radius: 12px;
  border: 1px solid #373737;
  padding: 10px 40px 10px 40px;
  width: 25vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.drag-drop-text {
  padding-top: 8px;
  font-size: 1rem;
  color: #7c7c7c;
}

.drag-drop-text a {
  color: #1A5BBC;
  text-decoration: none;
}

.upload-button {
  background-color: #1A5BBC;
  color: white;
  padding: 8px 50px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
}

.upload-button:hover {
  background-color: #3a7bc0;
}

.upload-button:disabled {
  background-color: #363636;
  cursor: not-allowed;
}

.file-types {
  color: #7c7c7c;
  font-size: 14px;
  margin-top: 10px;
}

.value-positive {
  color: green;
}

.value-negative {
  color: red;
}